@import "tailwindcss";

.react-datepicker {
    font-family: 'Segoe UI', sans-serif !important;
    border: 2px solid #60a5fa !important;
    border-radius: 12px !important;
}

.react-datepicker__header {
    background-color: #3b82f6 !important;
    /* azul */
    color: white !important;
    border-bottom: none !important;
}

.react-datepicker__day--selected {
    background-color: #2563eb !important;
    color: white !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: #60a5fa !important;
}

.react-datepicker__day:hover {
    background-color: #bfdbfe !important;
}

/* Día ocupado (rojo) */
.react-datepicker__day.ocupada {
    background-color: #ef4444 !important;
    color: white !important;
    border-radius: 50% !important;
}

/* Día disponible (verde) */
.react-datepicker__day.disponible {
    background-color: #22c55e !important;
    color: white !important;
    border-radius: 50% !important;
}

/* Hover */
.react-datepicker__day:hover {
    filter: brightness(90%);
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.animate-slideDown {
    animation: slideDown 0.25s ease-out;
}

.dia-seleccionado {
    background-color: #bfdbfe !important;
    border: 2px solid #3b82f6 !important;
    color: #1e40af !important;
    border-radius: 8px !important;
}

.campana {
    font-size: 40px;
    margin-bottom: 15px;
}
.modal-overlay {
    animation: fadeIn 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-box {
    background: white;
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-box h2 {
    margin-bottom: 10px;
}

.fecha {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.precios {
    margin-bottom: 25px;
    font-size: 18px;
}

.modal-box button {
    background: #4169E1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.modal-box button:hover {
    background: #3558c5;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}